* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400px;
  }

  .form-group{
    display: inline-block;
    width: 70%;
    margin-right: 20px;
  }
  .form-wrapper{
    text-align: center;
  }

  .book-card{
  padding: 20px;
  text-align:center;
  box-shadow: 0 0 15px rgb(100, 84, 99);
  }
  
  .book-card img {
    max-width: 200px;
    box-shadow:  0 0 15px rgb(112, 151, 168); ;
  }
  
  .text-card{
     height:500px;
  }
  
  